<header id="notice-bar">
    <h2>kubebuilder 中文文档由<a href="https://cloudnative.to/">云原生社区</a>主导翻译。任何问题可以在<a href="https://github.com/cloudnativeto/kubebuilder/issues">这儿</a>提issue。
    </h2>
    <h2>issue模版可以参考<a href="https://github.com/cloudnativeto/kubebuilder/issues/193">这个</a></h2>
</header>
