<header id="notice-bar">
    <h2>kubebuilder 官方文档中文翻译正在招募译者中，欢迎踊跃报名。</h2>
    <p>详情请看 <a href="https://github.com/cloudnativeto/community/issues/21">这里</a>和<a href="https://github.com/cloudnativeto/kubebuilder/tree/zh/docs/book">翻译流程</a>。</p>
    </p>
</header>
