<header id="notice-bar">
    <h2>Black lives matter.</h2>
    <p>We stand in solidarity with the Black community.</p>
    <p>Racism is unacceptable.</p>
    <p>It conflicts with <a href="https://git.k8s.io/community/values.md">the core values of the Kubernetes project</a> and our community does not tolerate it.</p>
    </p>
</header>
