.idea/
.vscode/

# don't check in the build output of the book
docs/book/book/

# Editor temp files
*~
\#*#

# Skip bazel dirs
/bazel-*

# skip bin
bin/*

# skip testdata gopath non-src
/testdata/gopath/bin
/testdata/gopath/pkg

# skip testdata go.mod, since it may have
# different result depending on go version
/testdata/project-v2/go.sum
/testdata/project-v2-multigroup/go.sum
