# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Block everything by default
*

# Allow Go modules (needed for build cache & deps)
!go.mod
!go.sum
!go.work

# Allow Go source files anywhere in the tree
!**/*.go
