name: Lint Samples

on:
  push:
    paths:
      - 'testdata/**'
      - 'docs/book/src/**/testdata/**'
      - '.github/workflows/lint-sample.yml'
  pull_request:
    paths:
      - 'testdata/**'
      - 'docs/book/src/**/testdata/**'
      - '.github/workflows/lint-sample.yml'

jobs:
  lint-samples:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        folder: [
          "testdata/project-v4",
          "testdata/project-v4-with-plugins",
          "testdata/project-v4-multigroup",
          "docs/book/src/cronjob-tutorial/testdata/project",
          "docs/book/src/getting-started/testdata/project",
          "docs/book/src/multiversion-tutorial/testdata/project"
        ]
    if: (github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository)
    steps:
      - name: Clone the code
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Prepare ${{ matrix.folder }}
        working-directory: ${{ matrix.folder }}
        run: go mod tidy
      - name: Check linter configuration
        working-directory: ${{ matrix.folder }}
        run: make lint-config
      - name: Run linter
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6.0
          working-directory: ${{ matrix.folder }}
      - name: Run linter via makefile target
        working-directory: ${{ matrix.folder }}
        run: make lint

