name: Lint

on:
  push:
    paths-ignore:
      - '**/*.md'
  pull_request:
    paths-ignore:
      - '**/*.md'

jobs:
  lint:
    name: golangci-lint
    runs-on: ubuntu-latest
    # Pull requests from the same repository won't trigger this checks as they were already triggered by the push
    if: (github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository)
    steps:
      - name: Clone the code
        uses: actions/checkout@v6.0.2
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Check linter configuration
        run: make lint-config
      - name: Run linter
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.8.0

  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - name: Install Helm
        run: make install-helm
      - name: Run yamllint (YAML + Helm chart output 2-space indentation)
        run: make yamllint
      - name: Check sample permissions
        run: make check-sample-permissions

  license:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - name: Run license check
        run: make test-license
