name: PR Verifier

on:
  pull_request_target:
    types: [opened, edited, reopened]


jobs:

  verify:
    name: Verify PR contents
    runs-on: ubuntu-latest
    steps:
    - name: Verifier action
      id: verifier
      uses: kubernetes-sigs/kubebuilder-release-tools@v0.4.3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
